body {
    background-image: url('https://images.pexels.com/photos/349732/pexels-photo-349732.jpeg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    font-family: century gothic;
}
button:hover {
    background-color: #009f6b;
}
@keyframes moveSquare {
    0% {
        top: 40%;
    }
    25% {
        top: 60%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
    }
}
.square-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: #01796f;
    border-radius: 10px;
    opacity: 0.6;
    border-style: solid;
    border-width: medium;
    animation: moveSquare 1200ms;
}
.loginform {
    text-align: center;
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveSquare 1200ms;
}
input[type="username"],
input[type="password"] {
  width: 80%;
  padding: 10px 25px;
  margin: 2px 0;
  border: none;
  box-sizing: border-box;
}
.login-button {
  padding: 10px 32px;
  background-color: #003c37;
  border: none;
  color: white;
}
.signup-button {
  padding: 10px 32px;
  background-color: #003c37;
  border: none;
  color: white;
}
.discord-button {
  padding: 10px 10px;
  background-color: #003c37;
  border: none;
  color: white;
}
.google-button {
  padding: 10px 10px;
  background-color: #003c37;
  border: none;
  color: white;
}
.facebook-button {
  padding: 10px 10px;
  background-color: #003c37;
  border: none;
  color: white;
}
.forgot-password-label {
  text-align: center;
  padding: 10px;
}
.register-question {
  text-align: center;
  color: white;
}
.remember-password {
  padding-right: 45px;
}
